<!-- Update Trip input form -->
<div data-id="{{trip.id}}" id="updateForm{{trip.id}}" class='form-group updateDiv'>
  <form data-id="{{trip.id}}" id="update-my-trip" class='form-group updateForm'>
    <div class="form-group">
      <label for="name">Trip Date</label>
      <input id="date" type="date" name="trip[tripDate]" class="form-control" value="{{date trip.tripDate}}" placeholder="Trip Date">
      <label for="name">Resort</label>
      <input type="text" name="trip[resort]" class="form-control" value="{{trip.resort}}" placeholder="Resort">
      <label for="name">Equipment Type</label><br>
      <input type="radio" name="trip[equipmentType]" value="{{trip.equipmentType}}" checked> Ski<br>
      <input type="radio" name="trip[equipmentType]" value="{{trip.equipmentType}}"> Snowboard<br>
      <label for="name">Conditions</label>
      <input type="text" name="trip[conditions]" class="form-control" value="{{trip.conditions}}" placeholder="Conditions">
      <label for="name">Number of Runs</label>
      <input type="text" name="trip[numberOfRuns]" class="form-control" value="{{trip.numberOfRuns}}" placeholder="How many runs did you do?">
      <label for="name">Favorite Run</label>
      <input type="text" name="trip[favoriteRun]" class="form-control" value="{{trip.favoriteRun}}" placeholder="What was your favorite run?">
      <label for="name">Comments</label>
      <input type="text" name="trip[comments]" class="form-control" value="{{trip.comments}}" placeholder="How did it go?"><br>
      <div class="saveUpdateBtn">
        <button type="submit" class="btn btn-primary btn-xs" id="{{trip.id}}" data-id="{{trip.id}}">Update My Trip!</button>
      </div>
    </div>
  </form>
</div>
